extends blog

block blogcontent
  for post in thesePosts
    h2
      a(href=post.name)= post.meta.title
    | !{post.html}
    if post.meta.tags
      p(style="float: right;") Tags: 
        for tag in post.meta.tags
          a.btn.btn-small(href="./tag:#{tag}") #{tag}
          |  
    p Posted: #{post.meta.moment.fromNow()}
    hr
  p
    if nextUrl
      a(href=nextUrl) &laquo; Older Posts
    else
      span &laquo; Older Posts
    |  - Page #{page} of #{pages.length} - 
    if prevUrl
      a(href=prevUrl) Newer Posts &raquo;
    else
      span Newer Posts &raquo;
