!!!
html
  head
    meta(charset="utf-8")
    title= title || blog.title
    meta(
      name="description",
      content="CSS Minifier/Compressor. Free! Works with Media Queries. Provides an API. Simple Quick and Fast!")
    meta(
      name="keywords",
      content="css, cssminifier, css minifier, css minification, css minify, minify css, minified css, design, css3, web, html, javascript, web development, hosting")
    link(rel="stylesheet",href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css")
    link(rel="stylesheet",href="/s/css/style#{min}.css")

  body

    div.navbar.navbar-inverse.navbar-fixed-top
      div.navbar-inner
        div.container
          a.brand(href="/") cssminifier.com
          p Minify your CSS - Simple, Quick and Fast!

    div#main.container
      div.row
        div.span12
          p
            | Sitemap: 
            a(href="/") Home
            |  | 
            a(href="/blog/") Blog
            |  | 
            a(href="/examples") Examples

      div#ads.row
        div.span4
          h4.muted Our other services:
          a.btn(href="http://javascript-minifier.com/") JavaScript Minifier
          |  
          a.btn(href="http://pngcrush.com/") PNG Crush
          |  
          a.btn(href="http://jpgoptimiser.com/") JPG Optimiser
          h4.muted Please support this site -----&gt;
        div.span8.c
          a(href=ad.url)
            img(width="728",height="90",src=ad.src,title=ad.title,alt=ad.title)

      block content

    div#footer
      div.container
        a(href="/") CSS Minifier
        |  - By 
        a(href="http://chilts.org/") chilts
        |  - 
        a(href="http://twitter.com/andychilton") @andychilton

    if env === 'production'
      script(type="text/javascript")
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-17218498-3'], ['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery#{min}.js")
    script(src="/s/js/ready#{min}.js")
